@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
.tituloPrincipal{
    font-family: 'Playfair Display SC', serif;
    font-size: 300%;
    display: flex;
    justify-content: center;
    background-color: #042340;
    color: white;
}
.header{
    width: 100% !important;
    height: 20% !important;
    background-color: #042340;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.americaneagle, .nafnaf, .rifle, .esprit, .chevignon, .americanino{
    width: 10%;
    height: 10%;
}

.casillas{
    text-align: center;
}

input{
    text-align: center;
}

@keyframes animar {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
  }
main{
    background: linear-gradient(45deg,  #756e6e, #4e4c4c, #c9bfbc, #756e6e, #4e4c4c);
  background-size: 300% 300%;
  position: relative;
  animation: animar 7s ease infinite;
    height: 617px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

form{
    background-color: blueviolet;
    width: 55% !important;
}
